/* ====================================================== */
/* Mobile View */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav {
  gap: 1rem;
  width: 100%;
  height: 13vh;
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: center;
}
.red {
  color: red;
  text-shadow: 2px 2px 3px lawngreen;
}
:is(.color, .colors) {
  color: lawngreen;
  text-shadow: 2px 2px 3px red;
}
.redLine {
  width: 100%;
  height: 3px;
  background-color: red;
}
.yellowLine {
  width: 100%;
  height: 3px;
  background-color: yellow;
}
.blueLine {
  width: 100%;
  height: 3px;
  background-color: blue;
}
section {
  gap: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  height: calc(100vh - 13vh - 9px);
}
.colors {
  font-size: 2rem;
}
.number {
  color: white;
  font-size: 3rem;
}
.btn_holder {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}
.btn {
  color: white;
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 8px;
  box-shadow: 3px 2px white;
  background-color: transparent;
}
.start:hover {
  color: purple;
  background-color: lawngreen;
  box-shadow: 1px 2px 2px 5px white;
}
.reset:hover {
  color: black;
  background-color: white;
  box-shadow: 1px 2px 2px 5px white;
}
.stop:hover {
  color: aqua;
  background-color: red;
  box-shadow: 1px 2px 2px 5px white;
}

/* ============================================== */
/* Ipad View */
@media screen and (width >= 764px) {
  nav {
    font-size: 2rem;
  }
  .colors {
    font-size: 3rem;
  }
  .number {
    font-size: 4rem;
  }
  .btn {
    font-size: 1.2rem;
  }
}
